a:link, a:visited, a:hover, a:active {
  color: #019b14;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: underline; }

html {
  font-family: helvetica, arial, sans-serif;
  background: url(images/header_illustration.png) no-repeat center top;
  border-bottom: 20px solid #e3e3e3;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

div.container {
  width: 990px;
  margin: 0 auto; }

div#site_title {
  width: 861px;
  height: 64px;
  position: relative;
  margin: 160px auto 12px auto; }
  div#site_title .top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url(images/wordmark.png) no-repeat top left; }

ul#top_nav {
  margin: 0 0 16px 0;
  padding: 0;
  background: url(images/top_nav.png) no-repeat top left;
  padding-top: 7px;
  height: 28px; }
  ul#top_nav li {
    list-style-type: none;
    float: left;
    margin-right: 40px;
    position: relative;
    z-index: 499; }
  ul#top_nav li.first {
    margin-left: 15px; }
  ul#top_nav li.last {
    margin-right: 0; }
  ul#top_nav a:link, ul#top_nav a:visited, ul#top_nav a:hover, ul#top_nav a:active {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none; }
  ul#top_nav a:hover {
    color: #fad600; }
  ul#top_nav ul {
    display: none;
    position: absolute;
    top: 20px;
    left: -12px;
    background: #019b14;
    background: rgba(1, 155, 20, 0.9);
    z-index: 1000;
    margin: 0;
    padding: 4px 0 0 0; }
    ul#top_nav ul li {
      float: none;
      margin: 0; }
    ul#top_nav ul li.first {
      margin: 0; }
    ul#top_nav ul a:link, ul#top_nav ul a:visited, ul#top_nav ul a:hover, ul#top_nav ul a:active {
      display: block;
      padding: 3px 13px;
      font-size: 16px;
      color: white;
      font-weight: normal;
      text-decoration: none;
      line-height: 16px; }
    ul#top_nav ul a:hover {
      background: white;
      color: #019b14; }

ul#top_nav li:hover ul {
  display: block; }

body.home div#home_main {
  overflow: hidden;
  margin-bottom: 18px; }
  body.home div#home_main .slideshow {
    float: left;
    width: 705px;
    margin: 0 20px 18px 0; }
    body.home div#home_main .slideshow ul.thumbs {
      float: left;
      margin: 0 1px 0 0;
      padding: 0; }
      body.home div#home_main .slideshow ul.thumbs li {
        margin: 0 0 1px 0;
        list-style-type: none;
        width: 93px;
        height: 63px; }
        body.home div#home_main .slideshow ul.thumbs li img {
          display: block;
          width: 93px;
          height: 63px;
          margin: 0;
          padding: 0; }
    body.home div#home_main .slideshow ul.slides {
      float: left;
      width: 610px;
      height: 255px;
      position: relative;
      margin: 0;
      padding: 0; }
      body.home div#home_main .slideshow ul.slides > li {
        position: absolute;
        top: 0;
        left: 0;
        width: 610px;
        height: 255px;
        margin: 0;
        padding: 0;
        list-style-type: none; }
      body.home div#home_main .slideshow ul.slides img {
        display: block;
        width: 610px;
        height: 255px; }
      body.home div#home_main .slideshow ul.slides div.slide_text {
        position: absolute;
        bottom: 0;
        width: 588px;
        padding: 9px 11px;
        background: #019b14; }
        body.home div#home_main .slideshow ul.slides div.slide_text a:link, body.home div#home_main .slideshow ul.slides div.slide_text a:visited, body.home div#home_main .slideshow ul.slides div.slide_text a:hover, body.home div#home_main .slideshow ul.slides div.slide_text a:active {
          color: white;
          font-size: 20px;
          text-decoration: none; }
        body.home div#home_main .slideshow ul.slides div.slide_text a:hover, body.home div#home_main .slideshow ul.slides div.slide_text a:active {
          text-decoration: underline; }
  body.home div#home_main div#home_search_and_links {
    float: left;
    width: 265px; }
    body.home div#home_main div#home_search_and_links div#home_search {
      height: 28px;
      margin-bottom: 23px;
      /*Remove button padding in FF*/ }
      body.home div#home_main div#home_search_and_links div#home_search input[type=text] {
        float: left;
        width: 156px;
        height: 20px;
        padding: 2px;
        border: 2px solid #019b14;
        margin-right: 11px; }
      body.home div#home_main div#home_search_and_links div#home_search input[type=submit] {
        float: left;
        width: 90px;
        height: 28px;
        border: none;
        background: #019b14;
        font-size: 15px;
        font-weight: bold;
        color: white;
        text-align: center;
        cursor: pointer;
        line-height: 15px; }
      body.home div#home_main div#home_search_and_links div#home_search input[type=submit]:hover, body.home div#home_main div#home_search_and_links div#home_search input[type=submit]:active {
        background: #fad600;
        color: #ff5d02; }
      body.home div#home_main div#home_search_and_links div#home_search input[type=submit]::-moz-focus-inner {
        border: 0;
        padding: 0; }
    body.home div#home_main div#home_search_and_links ul {
      margin: 0;
      padding: 0; }
      body.home div#home_main div#home_search_and_links ul li {
        list-style-type: none;
        margin: 19px 0 0 0; }
      body.home div#home_main div#home_search_and_links ul a:link, body.home div#home_main div#home_search_and_links ul a:visited, body.home div#home_main div#home_search_and_links ul a:hover, body.home div#home_main div#home_search_and_links ul a:active {
        display: block;
        height: 21px;
        padding: 8px 0;
        background: #019b14;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: white;
        text-decoration: none;
        line-height: 24px; }
      body.home div#home_main div#home_search_and_links ul a:hover {
        background: #fad600;
        color: #ff5d02; }
body.home ul#home_quick_links {
  overflow: hidden;
  padding: 16px 22px;
  margin: 0 0 16px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede; }
  body.home ul#home_quick_links ul {
    margin: 0;
    padding: 0; }
  body.home ul#home_quick_links li {
    float: left;
    width: 315px;
    margin: 0;
    list-style-type: none;
    text-align: center; }
  body.home ul#home_quick_links li.first {
    text-align: left; }
  body.home ul#home_quick_links li.last {
    text-align: right; }
  body.home ul#home_quick_links a:link, body.home ul#home_quick_links a:visited, body.home ul#home_quick_links a:hover, body.home ul#home_quick_links a:active {
    color: #694d2d;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; }
  body.home ul#home_quick_links a:hover, body.home ul#home_quick_links a:active {
    text-decoration: underline; }
body.home div#home_news {
  float: left;
  width: 705px;
  margin-right: 20px;
  background: white;
  -moz-box-shadow: 0 1px 26px #eae5df;
  -webkit-box-shadow: 0 1px 26px #eae5df;
  box-shadow: 0 1px 26px #eae5df; }
  body.home div#home_news h2 {
    width: 688px;
    height: 29px;
    padding: 6px 0 0 20px;
    position: relative;
    top: -4px;
    left: -1px;
    margin: 0;
    background: url(images/home_news_heading.png) no-repeat top left;
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-weight: bold; }
  body.home div#home_news ul {
    margin: 0 0 0 20px;
    padding: 0; }
  body.home div#home_news li {
    list-style-type: none;
    margin: 20px 0;
    overflow: hidden; }
    body.home div#home_news li a.image:link, body.home div#home_news li a.image:visited, body.home div#home_news li a.image:hover, body.home div#home_news li a.image:active {
      text-decoration: none;
      border: none;
      float: left;
      width: 130px;
      height: 73px;
      margin-right: 18px; }
      body.home div#home_news li a.image:link img, body.home div#home_news li a.image:visited img, body.home div#home_news li a.image:hover img, body.home div#home_news li a.image:active img {
        display: block;
        width: 100%;
        height: 100%;
        border: none; }
    body.home div#home_news li div.text {
      float: left;
      width: 485px; }
    body.home div#home_news li h3 {
      margin: 0 0 2px 0; }
      body.home div#home_news li h3 a:link, body.home div#home_news li h3 a:visited, body.home div#home_news li h3 a:hover, body.home div#home_news li h3 a:active {
        color: #019b14;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold; }
      body.home div#home_news li h3 a:hover, body.home div#home_news li h3 a:active {
        text-decoration: underline; }
    body.home div#home_news li p {
      color: #333333;
      font-size: 13px;
      line-height: 17px;
      margin: 0; }

/* This is for secondary pages */
div#secondary_page {
  float: left;
  width: 655px;
  padding: 40px 30px 40px 20px;
  margin: 0 20px 0 0;
  -moz-box-shadow: 0 1px 26px #eae5df;
  -webkit-box-shadow: 0 1px 26px #eae5df;
  box-shadow: 0 1px 26px #eae5df; }
  div#secondary_page img {
    float: left; }
  div#secondary_page div#content {
    float: left;
    width: 100%;
    color: #2a2a2a; }
  .sidebar_content_right div#secondary_page div#content {
  	width: 430px;
  	margin: 0 20px 0 0;
  }
div#secondary_page div#content h1, 
div#secondary_page div#content h2, 
div#secondary_page div#content h3, 
div#secondary_page div#content h4, 
div#secondary_page div#content h5, 
div#secondary_page div#content h6 {
  color: #019b14;
  font-weight: bold;
  margin: 13px 0; 
}

div#secondary_page div#content h3,
div#secondary_page div#content h4 {
  color: #000;
}
    div#secondary_page div#content h1 {
      font-size: 18px;
      margin: 0 0 13px 0; }
    div#secondary_page div#content h2 {
      font-size: 16px; }
    div#secondary_page div#content h3, div#secondary_page div#content h4, div#secondary_page div#content h5, div#secondary_page div#content h6 {
      font-size: 13px; }
    div#secondary_page div#content p {
      font-size: 13px;
      line-height: 18px;
      margin: 13px 0; }
    div#secondary_page div#content li {
      font-size: 13px;
      line-height: 18px;
      margin: 3px 0; }
    div#secondary_page div#content ul, div#secondary_page div#content ol {
      margin: 13px 0;
      padding: 0 0 0 24px; }
    div#secondary_page div#content ul li {
      list-style-type: disc; }
    div#secondary_page div#content ol li {
      list-style-type: decimal; }
    div#secondary_page div#content blockquote {
      margin: 13px 0;
      padding: 0;
      font-style: italic; }
    div#secondary_page div#content table {
      border-collapse: collapse;
      margin: 13px 0; }
    div#secondary_page div#content td, div#secondary_page div#content th {
      border-bottom: 1px solid #a0a0a0;
      border-top: 1px solid #a0a0a0;
      padding: 2px 3px;
      font-size: 12px;
      text-align: left; }
    div#secondary_page div#content th {
      font-weight: bold;
      border-top: none; }
    div#secondary_page div#content strong {
      font-weight: bold; }
    div#secondary_page div#content em {
      font-style: italic; }

/* This appears on both the home page and secondary pages */
div#events div.block {
  float: left;
  width: 265px;
  background: white;
  margin-bottom: 15px;
  -moz-box-shadow: 0 1px 26px #eae5df;
  -webkit-box-shadow: 0 1px 26px #eae5df;
  box-shadow: 0 1px 26px #eae5df; }
  div#events h2 {
    width: 251px;
    height: 29px;
    padding: 6px 0 0 20px;
    position: relative;
    top: -4px;
    left: -2px;
    margin: 0;
    background: url(images/home_events_heading.png) no-repeat top left;
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-weight: bold; }
  .block-bean .field-type-link-field div.field-item, .block-bean .field-name-field-bean-images div.field-item {
    margin: 20px; }
  div#events ul {
    margin: 0 0 0 20px;
    padding: 0; }
  div#events li {
    list-style-type: none;
    margin: 20px 0; }
    div#events li h3 {
      margin: 0 0 2px 0; }
      div#events li h3 a:link, div#events li h3 a:visited, div#events li h3 a:hover, div#events li h3 a:active, .block-bean .field-type-link-field div.field-item a {
        color: #019b14;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold; }
      div#events li h3 a:hover, div#events li h3 a:active, .block-bean .field-type-link-field div.field-item a:hover, .block-bean .field-type-link-field div.field-item a:active {
        text-decoration: underline; }
    div#events li p {
      color: #333333;
      font-size: 13px;
      line-height: 17px;
      margin: 0; }

div#footer {
  clear: left;
  height: 165px;
  padding: 35px 0 0 10px;
  background: url(images/footer.png) no-repeat left 15px; }
  div#footer p {
    float: left;
    width: 275px;
    margin: 0;
    font-size: 13px;
    color: #333232; }
  div#footer strong {
    font-weight: bold; }

body.ie7 div#home_main .slideshow ul.thumbs li {
  margin-top: -2px; }

#block-apnc-custom-page-right-imgs .item-list ul li {list-style: none;}

.webform-container-inline label {
  display: inline-block;
  min-width: 85px;
}

.page-videos #secondary_page {
  width: 940px;
}

.page-videos div#secondary_page img {
  float: none;
}
